*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: inline-block;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}